# Eclipse-specific files
/.settings/
/.project
.classpath
.metadata

# Build directories
/bin/
/target/

# IDE-specific files
.idea/
*.iml

# OS-specific files
.DS_Store       # macOS
Thumbs.db       # Windows

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
